.menu{
    width: 100%;
}
.imageDiv{
  
    width: 100%;
  

   
}
.loaderDiv{
  align-items: center;
    justify-content: center;
    display: flex;
    min-height: 60vh;
    flex-direction: column;
}
.copyright{
    text-align: center;
    
      padding: 20px 0;
    color:#fff;
    background-color: #262626;
  }
 